*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  background-color: rgba(94, 94, 240, 0.441);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main ul{
  margin-bottom: 50px;
}