<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>sam_pons_delfuente</title>
	<link rel="stylesheet" href="./..\css\style.css">
</head>
<body>
	<header>
		<img src="./..\assets\img\logo.jpeg" alt="logo">
		<h1>LMSGI - Examen UD1 - Inicio</h1>
		<nav>
			<a href="./..\sam_pons_delafuente.html">Inicio</a>
			<a href="./registro.html">Registro</a>
		</nav>
	</header>
	<main>
		<strong><h2>Información de la compañía</h2></strong>
		<table border="1">
			<tr>
				<th>Departamento</th>
				<th>Descripción</th>
				<th colspan="2">Contaco Principal</th>
			</tr>
			<tr>
				<td rowspan="3">Ventas</td>
				<td>Ventas corporativas</td>
				<td>Lucái Fernández</td>
				<td><a href="mailto:lucia@empresa.com">lucia@empresa.com</a></td>
			</tr>
			<tr>

				<td>Ventas al consumidor</td>
				<td rowspan="2">Laura Martínez</td>
				<td rowspan="2"><a href="mailto:laura@empresa.com">laura@empresa.com</a></td>
			</tr>
			<tr>
				<td>Ventas internacionales</td>
			</tr>
			<tr>
				<td rowspan="2">Soporte</td>
				<td>Soporte técnico</td>
				<td rowspan="2">Javier Rodríguez</td>
				<td><a href="mailto:javier@empresa.com">javier@empresa.com</a></td>
			</tr>
			<tr>
				<td>Atención al cliente</td>
				<td><a href="mailto:javier_ac@empresa.com">javier_ac@empresa.com</a></td>
			</tr>
			<tr>
				<td rowspan="2">Recursos Humanos</td>
				<td>Contratación</td>
				<td>Ana García</td>
				<td><a href="mailto:ana@empresa.com">ana@empresa.info</a></td>
			</tr>
			<tr>
				<td>Formación y desarollo</td>
				<td>Elena Ruiz</td>
				<td><a href="mailto:elena@empresa.com">elena@empresa.info</a></td>
			</tr>
		</table>
		<hr>
		<ul>
			<li><a href="https://www.facebook.com/" target="._blank">Facebook</a></li>
			<li><a href="https://www.x.com/" target="._blank">X</a></li>
			<li><a href="https://www.instagram.com/" target="._blank">Instagram</a></li>
			<li><a href="https://www.linkedin.com/" target="._blank">LinkedIn</a></li>
		</ul>
	</main>

</body>
</html>
